<h1>New Game</h1>
<p><%= @letters %></p>

<form action="/score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="query">
  <input type="submit" class="button">
</form>
